
  .secondary-background {
    background-color: snow;
  }
  
  .tagline {
    font-family: 'Quicksand', sans-serif;
    color: lightslategrey;
    line-height: 125px;
  }
  
  /* Header */
  h1 {
    margin: 0;
    background-color: steelblue;
    line-height: 100px;
    color: khaki;
  }
  
  h2 {
    margin: 10px;
  }
  
  /* App Container */
  .container {
    border: 2px solid snow;
    display: flex;
  }
  
  /* To Do Section */
  .week {
    flex-grow:3;
    flex-direction:column;
  }
  
  .row {
    min-height: 200px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
  }
  
  .square {
    width: 125px;
    height: 125px;
    padding: 10px;
    justify-content:center;
  }
  

  
  .day.square {
   
    border: 1px solid white;
    color:white;
    background-color:#dc3545;;
    text-align: center;
    width: 30%;
    border-radius: 50px !important;
  }
  
  
  .row .secondary-background{
        
    border: 1px solid white;
    color:white;
    background-color:#fd7e14;
    text-align: center;
    width: 30%;
    border-radius: 50px !important;
    padding: 10px;
    justify-content:center;
    background-color:#fd7e14;
  }

  
  .task p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  
  /* Reminders */
  .reminders {
    background-color: khaki;
    flex-grow:2;
  }
  
  .reminders h3 {
    width: 100%;
    margin: 10px;
    color: white;
    line-height: 90px;
    font-size: 24px;
  }
  
  /* Footer */
  footer {
    font-size: 24px;
  }

  .day1{
    border: 1px solid white;
    color:white;
    background-color:#fd7e14;
    text-align: center;
    width: 30%;
    border-radius: 50px !important;
    padding: 10px;
    justify-content:center;

  }